body{
    background-color: cornsilk;
    margin: 0;
}

.heading{
    background-color: rgb(199, 77, 24);
    margin: 0;
    padding: 1.5%;
}

.flex{
    display: flex;
    gap: 10;
    flex-wrap: wrap;
}

.notebox{
    border-radius: 5px;
    padding: 0.5%;
    margin: 2%;
    flex-basis: 25%;
    box-shadow: 1px 1px 5px 1px grey;
    display: inline-block;
}

.footer{
    position: absolute;
    bottom: 0;
    margin: 5px;
    text-align: center;
    width: 98%;
    color: grey;

}